/* Vertically and horizontally center the text on the page */


/* Use roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}



#content {
  font-family: 'Roboto', sans-serif;
}

#content {
  text-align: center;
}

